.form-container {
  height: 100%;
  width: 100%;
}

.form {
  margin: auto;
}

.btn-primary {
  width: 90px;
  border: 0;
  padding: 8px;
  border-radius: 15px;
  color: white;
  background: #213851;
  cursor: pointer;
}
